.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

body {
  font-family: sans-serif;
}

.social-links > li:hover,
.social-links > li:focus {
  color: orange;
}

.social-links > li:active {
  color: red;
}
